
@import "tailwindcss";



/* Hides scrollbar across browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* globals.css ili tailwind.css */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE i Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}


body {
  background-color: #000;
  color: #fff;
}


main {
  padding: 20px;
}

h1 {
  color: #ff0000;
}

ul {
  list-style: none;
  padding-left: 0;
}

.plaviTekst {
  color: #2048ca;
}

.info {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
